@import '../../styles/variables.scss';

.wrapper {
    position: relative;
    transform: scale(.8);

    a {
        color: inherit;
        text-decoration: inherit;
    }


    &>:nth-child(1) {
        position: absolute;
        z-index: 1;
        top: 45%;
        left: 40%;

        animation: float 6s ease-in-out infinite;
    }

    &>:nth-child(2) {
        position: absolute;
        z-index: 1;
        top: 5%;
        left: 10%;

        animation: float 6s ease-in-out infinite;

    }

    &>:nth-child(3) {
        position: absolute;
        z-index: 1;
        top: 25%;
        right: 0;

        animation: float 5s ease-in-out infinite;
        animation-delay: 1s;
    }

    &>:nth-child(4) {
        position: absolute;
        z-index: 1;
        bottom: 10%;
        right: 0;

        animation: float 6s ease-in-out infinite;
        animation-delay: 1s;
    }

    &>:nth-child(5) {
        position: absolute;
        z-index: 1;
        bottom: 35%;
        left: 0;

        animation: float 5s ease-in-out infinite;

    }

    &>:nth-child(6) {
        z-index: 1;
        position: absolute;
        bottom: -5%;
        left: 30%;
        animation: float 6s ease-in-out infinite;
        animation-delay: 1s;
    }

    &>:nth-child(7) {
        position: absolute;
        z-index: 1;
        top: -10%;
        left: 60%;
        transform: translate(-50%, -50%);
        animation: float 6s ease-in-out infinite;

    }

    .item:hover {
        cursor: pointer;

        img {
            opacity: 50%;
        }
    }

}

.item {
    position: relative;
}

.text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row2 {
    display: flex;
    margin-top: -32px;

}

.spoImage {
    margin-top: 62px;

    h3 {
        margin-top: 24px !important;
    }
}

@keyframes float {
    0% {

        transform: translatey(0px) rotate(5deg);
    }

    50% {

        transform: translatey(-10px) rotate(-5deg);
    }

    100% {

        transform: translatey(0px) rotate(5deg);
    }
}