html,
body {
    background-color: black;
    font-family: 'Poppins';
    color: white;
    display: flex;
    overflow-x: hidden;

    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-family: 'Gagalin';
    font-weight: lighter;
}

h1 {
    font-size: 3em;
    font-weight: 100;
}

h2 {
    font-size: 2em;
    font-weight: 100;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
        font-weight: 100;
    }

    h2 {
        font-size: 1em;
        font-weight: 100;
    }

}