@import '../styles/variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    padding: 32px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $breakpoint-mobile) {
        width: unset;

        &> :nth-child(1) {
            transform: scale(.5);
        }

        &> :nth-child(3) {
            transform: scale(.5);
        }
    }
}

.main {
    padding: 60px 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        margin: 0;
    }

    .left {
        padding-right: 48px;
    }

    .right {
        padding-left: 48px;
    }

    @media (max-width: $breakpoint-mobile) {
        display: block;
        padding: unset;
        padding-top: 60px;

        .left {
            margin: auto;
            width: fit-content;
            padding-right: 0;
        }

        .right {
            padding-left: 0;
            transform: scale(.8);
        }

    }
}

.social {
    display: flex;
    margin-top: 82px;

    div {
        margin-right: 12px;
    }

}

.socialIcon {
    width: 48px;
    height: 48px;
    background-color: $grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    &:hover {
        cursor: pointer;
        background-color: $red;
    }
}

.description {

    display: flex;
    align-items: center;
    text-align: center;
    padding: 80px 0;
    max-width: 1200px;
    margin-bottom: 180px;

    &>:nth-child(1) {
        margin-left: -32px;
    }

    &>:nth-child(3) {
        margin-right: -32px;
    }

    @media (max-width: $breakpoint-mobile) {
        display: block;
        width: 100vw;
        padding: 0px 0;

        &>:nth-child(1) {
            transform: scale(.7) translate(-200px, 50px);
        }

        &>:nth-child(3) {
            transform: scale(.7) translate(200px);
        }

    }
}

.descriptionContent {
    margin: 0 48px;
}

.numberWrapper {
    display: flex;
    justify-content: space-around;
}

.number {
    display: flex;
    align-items: center;
    border: 4px solid white;
    padding: 12px;

    span {
        font-family: 'Gagalin';
        font-size: 1em;
        font-weight: 100;
        margin-left: 12px;
    }

    @media (max-width: $breakpoint-mobile) {
        padding: 4px;
        border: 2px solid white;
        margin: 4px;

    }
}

.eshop {
    position: relative;
    width: 1200px;
    padding: 64px 0;

    @media (max-width: $breakpoint-mobile) {
        background-color: $red;
        width: 100%;
    }
}


.eshopImage {
    margin-top: -64px;
}


.eshopHead {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    hr {
        display: block;
        height: 5px;
        border: 0;
        border-top: 5px solid white;
        width: 100%;
        margin-right: 64px;
    }

    img {
        position: absolute;
        top: 80px;
        left: 0;
        animation: infirotate 5s ease-in-out infinite;
    }

    @media (max-width: $breakpoint-mobile) {
        margin: auto;
        width: fit-content;

        hr {
            margin-right: 28px;
            width: 150px;
        }

        h2 {
            font-size: 2em;
        }

        img {
            top: 90px;
            width: 80px;
            height: 80px;
        }

    }

}

.products {
    margin: 120px auto;
    padding: 82px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

    * {
        z-index: 9999;
    }

    @media (max-width: $breakpoint-mobile) {
        margin: 40px 0;
        padding: 0;
        grid-template-columns: 1fr;
    }
}

.product {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        border: 1px solid white;

        @media (max-width: $breakpoint-mobile) {
            width: 200px;
            height: 200px;

        }
    }

}

.rectRight {
    position: absolute;
    right: -275px;
    top: -36px;

    @media (max-width: $breakpoint-mobile) {
        display: none;
    }
}

.rectLeft {
    position: absolute;
    left: -292px;
    bottom: 0px;

    @media (max-width: $breakpoint-mobile) {
        display: none;
    }
}

.button {
    padding: 8px 16px;
    background-color: $yellow;
    color: black;
    border-radius: 24px;
    border: 2px solid black;
    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    &:hover {
        background-color: rgba($yellow, .8);
    }
}

.disabled {
    cursor: not-allowed;
    background-color: rgba($yellow, .8);
}

.sponsorsWrapper {
    padding: 64px 0;
    width: 100vw;
    background-color: $yellow;
}

.sponsors {
    position: relative;
    padding: 64px 0;
    max-width: 1200px;
    margin: auto;
}

.sponsorsHead {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;

    h2 {
        color: black;

    }

    hr {
        display: block;
        border: 0;
        border-top: 5px solid black;
        width: 100%;
        margin-left: 64px;
    }

    img {
        position: absolute;
        top: 80px;
        right: 0;
        animation: infirotate2 5s ease-in-out infinite;
    }
}

.sponsorsMain {

    margin: auto;
    width: 920px;

    iframe {
        width: 100%;
        height: 280px;
        border: 5px solid black;

    }
}

.sponsor {
    position: relative;
    margin-top: -10px;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

    }
}

.video {
    filter: grayscale(100%);
    height: fit-content;
}

.team {
    position: relative;
    padding: 64px 0;
    width: 1200px;
    margin: auto;
    margin-bottom: 88px;
}

.teamHead {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 64px;


    hr {
        display: block;
        height: 5px;
        border: 0;
        border-top: 5px solid white;
        width: 100%;
        margin-right: 64px;
    }

    img {
        position: absolute;
        top: 80px;
        left: 0;
        animation: infirotate 5s ease-in-out infinite;
    }
}

.teamMain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &>div {
        font-family: 'Gagalin';
        text-align: center;
        margin-bottom: 24px;
    }

    p {
        margin-top: -24px;
    }
}

.newsletter {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
}

.newsletterLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
    color: black;
    background-color: $yellow;
    border: 2px solid black;
    font-family: 'Gagalin';
    font-size: 2em;

    span {
        font-size: 2.1em;
        line-height: 0.6;
    }

}

.newsletterRight {
    padding: 48px;
    border: 2px solid black;
    background-color: $red;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        background-color: black;
        outline: none;
        border: none;
        padding: 12px 30px;
        border-radius: 24px;
        margin-right: 12px;
        color: white;
        font-size: 1em;
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 12px 24px;

    small {
        font-size: .5em;
    }

    a {
        cursor: pointer;
        color: $yellow;
        text-decoration: dashed;
    }
}


@keyframes infirotate {
    0% {

        transform: rotate(0deg);
    }

    50% {

        transform: rotate(80deg);
    }

    100% {

        transform: rotate(0deg);
    }
}



@keyframes infirotate2 {
    0% {

        transform: rotate(-60deg);
    }

    50% {

        transform: rotate(20deg);
    }

    100% {

        transform: rotate(-60deg);
    }
}