@import "../styles/variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.logo {
  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 12px;
    width: 60px;
    height: 48px;
  }
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main {
  opacity: 1;
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  img {
    z-index: 9999;
  }

  h1 {
    margin: 0 0 42px 0;
    font-size: 8em;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    line-height: 1;
    gap: 0;

    @media (max-width: $breakpoint-tablet) {
      font-size: 6em;
    }

    @media (max-width: $breakpoint-mobile) {
      font-size: 4em;
      flex-direction: column;
      line-height: 1;
    }
  }
}

.mainHead {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social {
  z-index: 9999;
  display: flex;
  margin-top: 82px;

  div {
    margin-right: 12px;
  }

  @media (max-width: $breakpoint-mobile) {
    transform: scale(0.8);
  }
}

.socialIcon {
  width: 48px;
  height: 48px;
  background-color: $grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    cursor: pointer;
    background-color: $red;
  }
}

.featured {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    margin-bottom: 64px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 12px 0;
    h2 {
      font-size: 1.5em;
    }
  }
}

.featuredGrid {
  display: grid;
  padding: 32px 0;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-bottom: 120px;
  width: 100%;
  max-width: 100%;

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
    padding: 32px 16px;
    gap: 16px;
  }
}

.featuredItem {
  iframe {
    width: 500px;
    height: 300px;
    background-color: $grey;
    max-width: 100%;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 100%;
    iframe {
      width: 100%;
      max-width: 100%;
      height: 200px;
    }
  }
}

.descriptionWrapper {
  width: 100%;
  max-width: 100%;
  position: relative;
  overflow: visible;
  min-height: auto;
}

.paper {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  margin-inline: auto;
  z-index: 9999;

  @media (max-width: $breakpoint-mobile) {
    height: 60px;
    top: -40px;
  }
}

.paperBottom {
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  margin-inline: auto;

  @media (max-width: $breakpoint-mobile) {
    height: 60px;
    bottom: -40px;
  }
}

.description {
  margin: 120px auto;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 140px 0;
  max-width: 1200px;
  overflow: visible;
  height: auto;
  min-height: auto;

  > div {
    overflow: visible;
    height: auto;
  }

  @media (max-width: $breakpoint-laptop) {
    margin: 30px auto;
  }

  @media (max-width: $breakpoint-mobile) {
    margin: 20px auto;
    display: block;
    max-width: 100%;
    width: 100%;
    padding: 40px 0;
    overflow: visible;
    height: auto;
    min-height: auto;

    > div {
      overflow: visible;
      height: auto;
    }
  }
}

.descriptionImage1 {
  margin-left: -32px;
  overflow: visible;
  height: auto;

  @media (max-width: $breakpoint-mobile) {
    transform: scale(0.5) translate(-50%, 50px);
    margin-left: 0;
    margin-top: -12px;
    margin-bottom: -12px;
    max-width: 100%;
    overflow: visible;
    height: auto;
  }
}
.descriptionImage2 {
  margin-right: -32px;
  overflow: visible;
  height: auto;

  @media (max-width: $breakpoint-mobile) {
    transform: scale(0.5) translate(50%, 50px);
    margin-right: 0;
    margin-top: -12px;
    margin-bottom: -12px;
    max-width: 100%;
    overflow: visible;
    height: auto;
  }
}

.descriptionContent {
  padding: 0 24px;
  overflow: visible;
  height: auto;
  min-height: auto;
  
  h3 {
    font-size: 1.5em;
    font-weight: 500;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: visible;
    height: auto;
    min-height: auto;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 0 16px;
    overflow: visible;
    height: auto;
    min-height: auto;
    
    h3 {
      font-size: 1.3em;
      overflow: visible;
      height: auto;
      min-height: auto;
    }
  }
}

.numberWrapper {
  display: flex;
  justify-content: space-around;
  max-width: 500px;
  margin: 120px auto 0 auto;

  @media (max-width: $breakpoint-mobile) {
    margin: 40px auto 0 auto;
  }

  @media (max-width: 350px) {
    display: grid;
    grid-template-columns: 1fr;
    width: fit-content;
  }
}

.number {
  display: flex;
  align-items: center;
  background-color: black;
  border: 5px solid white;
  padding: 12px;

  span {
    font-size: 1em;
    font-weight: 100;
    margin-left: 12px;
    font-weight: 500;
  }

  img {
    color: white;
  }

  @media (max-width: $breakpoint-mobile) {
    transform: scale(0.8);
    border: 2px solid white;
    // padding: 6px;

    span {
      font-size: 0.9em;
    }

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.eshop {
  position: relative;
  max-width: 1200px;
  padding: 64px 32px;
  width: 100%;
  box-sizing: border-box;

  @media screen and (max-width: $breakpoint-tablet) {
    margin: 64px 12px;
    padding: 0 16px;
  }
}

.eshopHead {
  margin-top: 120px;
  text-align: center;
  font-weight: 800;
  font-size: 3em;

  @media (max-width: $breakpoint-mobile) {
    margin-top: 40px;
    font-size: 2em;
  }
}

.eshopSubhead {
  margin-top: -24px;
  text-align: center;
  font-weight: 100;
  font-size: 1.2em;
  color: #7a7a7a;

  @media (max-width: $breakpoint-mobile) {
    font-size: 1em;
  }
}

.products {
  margin: 60px auto;
  padding: 82px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  * {
    z-index: 9999;
  }

  @media (max-width: $breakpoint-mobile) {
    margin: 0;
    padding: 48px 16px;
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.product {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  padding: 24px 24px 48px 24px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  h3 {
    text-align: center;
    font-size: 1.5em;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 100%;
    max-width: 100%;
    padding: 16px;

    img {
      width: 100%;
      max-width: 240px;
      height: auto;
      aspect-ratio: 1;
    }

    h3 {
      font-size: 1.2em;
    }
  }
}

.button {
  padding: 8px 16px;
  background-color: $yellow;
  color: black;
  border-radius: 24px;
  border: 2px solid black;
  font-size: 18px;
  z-index: 9999;
  font-weight: bold;

  cursor: pointer;

  &:hover {
    background-color: black;
    color: $yellow;
  }
}

.redButton {
  background-color: $red;
  color: white;
  margin-left: 24px;

  @media (max-width: $breakpoint-mobile) {
    margin-left: 12px;
  }

  &:hover {
    background-color: white;
    color: $red;
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;

  &:hover {
    background-color: $yellow;
    color: black;
  }
}

.sponsorsLayout {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.sponsorsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: auto;
  gap: 24px;
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;

  @media (max-width: $breakpoint-tablet) {
    margin: 0;
    grid-template-columns: 1fr;
    padding: 0 16px;
    gap: 32px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 0 12px;
    gap: 40px;
  }
}

.blackTransition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 300px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.sponsorsWrapper {
  width: 100%;
  max-width: 100%;
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 9999;
  overflow-x: hidden;
  box-sizing: border-box;

  @media (max-width: $breakpoint-tablet) {
    padding: 48px 0;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 32px 0 24px 0;

    img {
      width: 60px;
      height: 60px;
    }
  }
}

.sponsorSpacing {
  height: 120px;

  @media (max-width: $breakpoint-tablet) {
    height: 80px;
  }

  @media (max-width: $breakpoint-mobile) {
    height: 40px;
  }
}

.sponsor {
  margin: 120px auto 80px auto;
  max-width: 1200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  p {
    margin: 12px 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
  }

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  @media (max-width: $breakpoint-mobile) {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
}

.sponsorHead {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
  flex-wrap: wrap;
  gap: 12px;

  img {
    margin-right: 24px;
    flex-shrink: 0;
    max-width: 100%;
    height: auto;
  }

  h2 {
    flex: 1;
    min-width: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 12px;
    gap: 8px;

    img {
      width: 60px;
      height: 60px;
      margin-right: 12px;
    }

    h2 {
      font-size: 1.3em;
      line-height: 1.2;
    }
  }
}

.workWithUs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 240px;
  margin: 0 24px;
  text-align: center;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  h1 {
    font-size: 5em;
  }

  p {
    margin-top: -64px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding-bottom: 160px;
    padding-top: 40px;
    margin: 0 16px;
    padding-left: 16px;
    padding-right: 16px;

    h1 {
      font-size: 2.8em;
    }

    p {
      font-size: 0.8em;
      margin-top: 0;
    }
  }
}

.blackTransitionReverse {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 300px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 5;

  @media (max-width: $breakpoint-mobile) {
    height: 200px;
  }
}

.video {
  margin-top: 24px;
  width: 550px;
  height: 300px;
  max-width: 100%;
  border: none;
  border-radius: 8px;

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    max-width: 100%;
    height: 300px;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 100%;
    max-width: 100%;
    height: 200px;
    margin-top: 16px;
    aspect-ratio: 16 / 9;
  }
}

.team {
  position: relative;
  padding: 64px 0;
  width: 800px;
  margin: auto;
  margin-bottom: 88px;
  max-width: 100%;
  box-sizing: border-box;

  @media (max-width: $breakpoint-laptop) {
    width: 100%;
    max-width: 100%;
    margin-top: -40px;
    padding: 64px 16px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-top: 40px;
    padding-top: 80px;
    padding-bottom: 64px;
  }
}

.teamMain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media screen and (max-width: $breakpoint-tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;

    p {
      margin-top: -22px;
    }
  }

  & > div {
    text-align: center;
    margin-bottom: 24px;
  }

  p {
    font-family: "Gagalin", serif;
  }
}

.join {
  padding: 120px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  h1 {
    text-align: center;
    font-size: 5em;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 40px 16px;
    h1 {
      font-size: 2em;
    }
  }
}

.moreWrapper {
  transform: scale(1.2);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.joinButtons {
  transform: scale(1.2);

  @media (max-width: $breakpoint-mobile) {
    transform: scale(0.9);
  }
}

.footer {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  padding: 12px 24px;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  gap: 8px;
  margin: 0 auto;

  & > div {
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
  }

  small {
    font-size: 0.5em;
  }

  a {
    cursor: pointer;
    color: $yellow;
    text-decoration: dashed;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  // Large desktop (> 1440px)
  @media (min-width: $breakpoint-laptop + 1px) {
    font-size: 0.85em;
    padding: 16px 32px;
    gap: 10px;
    max-width: 1920px;
    margin: 0 auto;
  }

  // Desktop/Tablet large (992px - 1440px)
  @media (min-width: $breakpoint-tablet + 1px) and (max-width: $breakpoint-laptop) {
    font-size: 0.8em;
    padding: 14px 28px;
    gap: 9px;
  }

  // Tablet (768px - 992px)
  @media (min-width: $breakpoint-mobile + 1px) and (max-width: $breakpoint-tablet) {
    font-size: 0.78em;
    padding: 12px 20px;
    gap: 8px;

    & > div {
      line-height: 1.5;
    }
  }

  // Mobile (<= 768px)
  @media (max-width: $breakpoint-mobile) {
    width: 100%;
    padding: 12px 16px;
    font-size: 0.75em;
    text-align: center;
    gap: 6px;

    & > div {
      text-align: center;
      line-height: 1.4;
      padding: 0 4px;
    }
  }
}

.rights {
  margin-top: 4px;
  color: gray;
  text-align: center;
  font-size: 0.9em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;

  // Large desktop (> 1440px)
  @media (min-width: $breakpoint-laptop + 1px) {
    font-size: 0.95em;
    margin-top: 6px;
  }

  // Desktop/Tablet large (992px - 1440px)
  @media (min-width: $breakpoint-tablet + 1px) and (max-width: $breakpoint-laptop) {
    font-size: 0.9em;
    margin-top: 5px;
  }

  // Tablet (768px - 992px)
  @media (min-width: $breakpoint-mobile + 1px) and (max-width: $breakpoint-tablet) {
    font-size: 0.88em;
    margin-top: 6px;
  }

  // Mobile (<= 768px)
  @media (max-width: $breakpoint-mobile) {
    font-size: 0.85em;
    margin-top: 8px;
    padding: 0 4px;
  }
}

.teamMember {
  position: relative;
  overflow: hidden;
}

.imageContainer {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.defaultImage,
.hoverImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.hoverImage {
  opacity: 0;
}

.teamMember:hover .defaultImage {
  opacity: 0;
}

.teamMember:hover .hoverImage {
  opacity: 1;
}

.teamName {
  text-align: center;
  margin-top: 32px;
}

.copyEmail {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 40px;

  p {
    font-size: 0.8em;
  }
}
