@import "../styles/variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 12px;
    width: 60px;
    height: 48px;
  }
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main {
  opacity: 1;
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  img {
    z-index: 9999;
  }

  h1 {
    margin: 0 0 42px 0;
    font-size: 8em;
    z-index: 9999;
  }

  @media (max-width: $breakpoint-tablet) {
    h1 {
      font-size: 6em;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    h1 {
      font-size: 2.5em;
    }
  }
}

.mainHead {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social {
  z-index: 9999;
  display: flex;
  margin-top: 82px;

  div {
    margin-right: 12px;
  }

  @media (max-width: $breakpoint-mobile) {
    transform: scale(0.8);
  }
}

.socialIcon {
  width: 48px;
  height: 48px;
  background-color: $grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    cursor: pointer;
    background-color: $red;
  }
}

.descriptionWrapper {
  width: 100%;
  position: relative;

  @media (max-width: $breakpoint-mobile) {
    width: 100vw;
  }
}

.paper {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  width: 100vw;
  margin-inline: auto;
  z-index: 9999;

  @media (max-width: $breakpoint-mobile) {
    height: 60px;
    top: -40px;
  }
}

.paperBottom {
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
  width: 100vw;
  margin-inline: auto;

  @media (max-width: $breakpoint-mobile) {
    height: 60px;
    bottom: -40px;
  }
}

.description {
  margin: 120px auto;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 140px 0;
  max-width: 1200px;

  & > :nth-child(1) {
    margin-left: -32px;
  }

  & > :nth-child(3) {
    margin-right: -32px;
  }

  @media (max-width: $breakpoint-laptop) {
    margin: 30px auto;
  }

  @media (max-width: $breakpoint-mobile) {
    margin: 20px auto;
    display: block;
    max-width: unset;
    width: 100vw;
    padding: 0px 0;

    & > :nth-child(1) {
      transform: scale(0.5) translate(-140px, 50px);
      margin-top: -12px;
      margin-bottom: -12px;
    }

    & > :nth-child(3) {
      transform: scale(0.5) translate(140px, 50px);
      margin-top: -12px;
      margin-bottom: -12px;
    }
  }
}

.descriptionContent {
  padding: 0 24px;
  h3 {
    font-size: 1.5em;
    font-weight: 500;
  }

  @media (max-width: $breakpoint-mobile) {
    h3 {
      font-size: 1.3em;
    }
  }
}

.numberWrapper {
  display: flex;
  justify-content: space-around;
  max-width: 500px;
  margin: 120px auto 0 auto;

  @media (max-width: $breakpoint-mobile) {
    margin: 40px auto 0 auto;
  }
}

.number {
  display: flex;
  align-items: center;
  background-color: black;
  border: 5px solid white;
  padding: 12px;

  span {
    font-size: 1em;
    font-weight: 100;
    margin-left: 12px;
    font-weight: 500;
  }

  img {
    color: white;
  }

  @media (max-width: $breakpoint-mobile) {
    transform: scale(0.8);
    border: 2px solid white;
  }
}

.eshop {
  position: relative;
  max-width: 1200px;
  padding: 64px 32px;

  @media (max-width: $breakpoint-mobile) {
    // width: 100vw;
  }
}

.eshopHead {
  margin-top: 120px;
  text-align: center;
  font-weight: 800;
  font-size: 3em;

  @media (max-width: $breakpoint-mobile) {
    margin-top: 40px;
    font-size: 2em;
  }
}

.eshopSubhead {
  margin-top: -24px;
  text-align: center;
  font-weight: 100;
  font-size: 1.2em;
  color: #7a7a7a;

  @media (max-width: $breakpoint-mobile) {
    font-size: 1em;
  }
}

.products {
  margin: 60px auto;
  padding: 82px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  * {
    z-index: 9999;
  }

  @media (max-width: $breakpoint-mobile) {
    margin: 40px 0;
    grid-template-columns: 1fr;
  }
}

.product {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  padding: 24px 24px 48px 24px;

  @media (max-width: $breakpoint-mobile) {
    width: 280px;
  }

  img {
    @media (max-width: $breakpoint-mobile) {
      width: 100%;
      height: 200px;
    }
  }

  h3 {
    font-size: 1.5em;
  }
}

.button {
  padding: 8px 16px;
  background-color: $yellow;
  color: black;
  border-radius: 24px;
  border: 2px solid black;
  font-size: 18px;
  z-index: 9999;
  font-weight: bold;

  cursor: pointer;

  &:hover {
    background-color: black;
    color: $yellow;
  }
}

.redButton {
  background-color: $red;
  color: white;
  margin-left: 24px;

  @media (max-width: $breakpoint-mobile) {
    margin-left: 12px;
  }

  &:hover {
    background-color: white;
    color: $red;
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;

  &:hover {
    background-color: $yellow;
    color: black;
  }
}

.sponsorsLayout {
  position: relative;
}

.sponsorsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: auto;
  gap: 24px;

  @media (max-width: $breakpoint-tablet) {
    margin: 0 24px;
    grid-template-columns: 1fr;
  }
}

.blackTransition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 300px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.sponsorsWrapper {
  width: 100vw;
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 9999;

  @media (max-width: $breakpoint-mobile) {
    padding: 32px 0;

    img {
      width: 60px;
      height: 60px;
    }
  }
}

.sponsorSpacing {
  height: 120px;

  @media (max-width: $breakpoint-mobile) {
    height: 60px;
  }
}

.sponsor {
  margin: 120px auto 80px auto;
  max-width: 1200px;
  display: flex;
  align-items: start;
  flex-direction: column;

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    margin: 20px auto;
  }
}

.sponsorHead {
  display: flex;
  align-items: center;
  img {
    margin-right: 24px;
  }

  @media (max-width: $breakpoint-mobile) {
    h2 {
      font-size: 1.4em;
    }
  }
}

.workWithUs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 240px;
  margin: 0 24px;
  text-align: center;

  h1 {
    font-size: 5em;
  }

  p {
    margin-top: -64px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding-bottom: 100px;
    h1 {
      font-size: 2em;
    }

    p {
      font-size: 0.8em;
      margin-top: 0;
    }
  }
}

.blackTransitionReverse {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 300px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 5;
}

.video {
  margin-top: 24px;
  filter: grayscale(100%);
  width: 550px;
  height: 300px;

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    height: 300px;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 100%;
    height: 200px;
  }
}

.team {
  position: relative;
  padding: 64px 0;
  width: 800px;
  margin: auto;
  margin-bottom: 88px;

  @media (max-width: $breakpoint-laptop) {
    margin-top: -40px;
  }

  @media (max-width: $breakpoint-mobile) {
    width: unset;
  }
}

.teamMain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;

    p {
      margin-top: -22px;
    }
  }

  & > div {
    text-align: center;
    margin-bottom: 24px;
  }

  p {
    font-family: "Gagalin", serif;
  }
}

.join {
  padding: 120px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    font-size: 5em;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 40px 24px;
    h1 {
      font-size: 2em;
    }
  }
}

.joinButtons {
  transform: scale(1.2);

  @media (max-width: $breakpoint-mobile) {
    transform: scale(0.9);
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 8px 0;
  flex-direction: column;
  padding: 12px 24px;
  small {
    font-size: 0.5em;
  }

  a {
    cursor: pointer;
    color: $yellow;
    text-decoration: dashed;
  }

  @media (max-width: $breakpoint-mobile) {
    width: unset;
  }
}

.rights {
  margin-top: 4px;
  color: gray;
}

.teamMember {
  position: relative;
  overflow: hidden;
}

.imageContainer {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.defaultImage,
.hoverImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.hoverImage {
  opacity: 0;
}

.teamMember:hover .defaultImage {
  opacity: 0;
}

.teamMember:hover .hoverImage {
  opacity: 1;
}

.teamName {
  text-align: center;
  margin-top: 32px;
}

.copyEmail {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 40px;

  p {
    font-size: 0.8em;
  }
}
